.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #010135;
    color: white;
    position: relative;

}

.row{
    margin-top: 10px;
}

.fot {
    padding: 30px;
}

#submit {
	color: black;
}

#inputmail{
    width: 90%;
}
